{% load static%}
<html>
<head>
<title>Log in Form</title>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
<body>
	<div class="loginbox">
	<img src="/static/images/logo/qcu.png" alt="IMG" class="avatar">
		<hl>Login Here</hl>
		<form>
			<br>
			<br>
			<br>
			<br>
			<input type="text" name="student_number" placeholder="Student Number">
			
			<input type="Password" name="password" placeholder="Password">
			<input type="submit" name="" value="Login">
			<br>
			<br>
			<br>
			<br>
				
			<a href="#">Lost your password?</a><br>
			<a href="#">Sign Up</a>
		</form>	 
		

	</div>
</body>
</head>
</html>